 extends layout

 block content
   .container
      h1 Username : #{user.username}
      h2 Email : #{user.email_id}
     h2 Mobile Number : #{user.mobile_no}
     a(href='http://localhost:3000/newkart/logout') Logout
     a(href='http://localhost:3000/newkart/products') Products
     a(href='http://localhost:3000/users/Ecommercecart') Cart